*.iml
.gradle
.idea/caches/
.idea/codeStyles/
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/markdown-exported-files.xml
/.idea/misc.xml
.DS_Store
/build
/captures
multipicker/key-file.gpg
gradle.properties
app/fabric.properties
/extras/secret.properties
/extras/release.keystore
/app/src/main/assets/api_keys.json
.idea/
/app/release/*
/extras/key-file.gpg