*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
multipicker/key-file.gpg
gradle.properties
app/fabric.properties
/extras/secret.properties
/extras/release.keystore